@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-100: #FF0000;
    --text-200: #000000;
    --background-100: #FFD800;
    --background-200: #FFFFFF;
    --background-300: #999999;
}

.btn {
    display: inline-block;
    font-weight: 500;
    font-size: 1.25em;
    text-decoration: none;
    background: var(--background-200);
    padding: 0.8em 1.5em;
    border-radius: 30px;
    margin-top: 2rem;
    margin-right: 2rem;
    color: var(--text-200);
}

.btn-second {
    display: inline-block;
    font-weight: 500;
    font-size: 1.25em;
    text-decoration: none;
    background: var(--background-300);
    padding: 0.8em 1.5em;
    border-radius: 30px;
    margin-top: 2rem;
    margin-right: 2rem;
    color: var(--text-200);
}

body {
    overflow-y: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: var(--background-100);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 6rem 0rem;
}

.logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    color: var(--text-200);
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.17em;
    font-weight: 600;
    gap: 3em;
}

.menu li a {
    text-decoration: none;
    color: var(--text-200);
}

.watch-onepiece {
    position: relative;
    color: var(--text-200);
    font-size: 1.17em;
    font-weight: 600;
    text-decoration: none;
}

.watch-onepiece::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-200);
    cursor: pointer;
}

/* Hero */

.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem;
    line-height: 1;
}

.hero-info {
    display: flex;
    flex-direction: column;
}

.hero-image {
    position: absolute;
    width: 800px;
    height: auto;
    top: 3rem;
    left: 65rem;
}

.title {
    font-size: 15em;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-100);
}

.description {
    font-size: 2.33em;
    font-weight: 600;
    color: var(--text-100);
}

.date {
    font-size: 5.75em;
    font-weight: 600;
    color: var(--text-100);
}